/* Se resetean los valores del body */
*{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
}

/* Page es la clase dada al body */
.page{
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    min-height: 100vh;
}

header{
    display: grid;
    grid-area: header;
    background-color: #2c2c2c;
    color: white;
    grid-template-areas: "logo nav busqueda contacto carrito";
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 5vh;
}

/*Logo es la clase de la etiqueta img contenedor del logo*/
.logo{
    grid-area: logo;
    width: 7.5vw;
    height: 15vh;
}

nav{
    grid-area: nav;
}

/* es la clase del form contenedor del input y botón de búsqueda */
.busqueda{
    grid-area: busqueda;
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 40px;
}

/* La clase contacto es del contendor DIV donde tiene una etiqueta p, i y p. Siendo i el ícono de whatsapp */
.contacto{
    grid-area: contacto;
    display: grid;
    grid-template-areas: "contacto-p contacto-p"
                         "icono-wpp p-wpp";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.contacto-p{
    grid-area: contacto-p;
    font-size: 1.8rem;
}

.wpp-icon-grid{
    grid-area: icono-wpp;
    font-size: 1.7rem;
}

.wpp-p-grid{
    grid-area: p-wpp;
    font-size: 1.4rem;
}

/* Esta etiqueta corresponde al contendor DIV donde se encuentra un ícono con forma de carrito y el monto total de la compra */
.carrito{
    display: grid;
    grid-template-areas: "precio icono";
    justify-items: center;
    align-items: center;
    grid-area: carrito;
}

.precio{
    grid-area: precio;
    font-size: 1.4rem;
}

.icono{
    grid-area: icono;
    font-size: 1.7rem;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    display: grid;
    grid-template-areas: "subscipcionFooter direccionFooter";
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    color: white;
    gap: 80px;
    margin-top: 5vh;
}

/* Esta clase corresponde al form que se encutra en el footer para la suscripción */
.subscripcion{
    grid-area: subscipcionFooter;
    display: grid;
    grid-template-areas: "titulo"
                         "nombre"
                         "email"
                         "botonSuscripcion";
    justify-content: center;
    align-content: center;
    gap: 15px;
    background: rgb(3, 18, 41);
    border-radius: 1rem;
    color: white;
    height: 25vh;
    width: 17vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.titulo-suscripcion{
    grid-area: titulo;
}

.nombre-suscripcion{
    grid-area: nombre;
}

.email-suscripcion{
    grid-area: email;
}

.boton-suscripcion{
    grid-area: botonSuscripcion;
}

/* Esta clase corresponde al contendor DIV que se encuentra en el footer, contiene la información básica de la empresa */
.direccion-footer{
    grid-area: direccionFooter;
}

/* Aquí se comienza a dar estilo al contenedor del form de la búsqueda */
.estilo-busqueda input {
    border: none;
    width: 13vw;
    font-size: 1rem;
    border: 2px solid rgb(3, 18, 41);
}

.estilo-busqueda span {
    background-color: black;
    border: none;
    font-weight: bold;
    color: white;
    width: 3vw;
    border: 2px solid rgb(3, 18, 41);
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 1rem;
    font-size: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.estilo-busqueda span:hover {
	background: #2c2c2c;
    font-size: 1.5rem;
}

/* Aquí se comienza a dar estilo a los elementos del form de la suscripción que se encuentran en el footer */
.subscripcion input{
    height: 90%;
    width: 90%;
    border: 1px solid rgb(3, 18, 41);
}

.subscripcion button{
    height: 90%;
    width: 90%;
    border: 1px solid rgb(3, 18, 41);
}


/* Aquí se comienza a dar estilo al menú desplegable */
.ul-nav li a {
    background-color:#2c2c2c;
    border: 1px solid rgb(3, 18, 41);
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.ul-nav li a:hover {
    background-color:#434343;
}
    
.ul-nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.ul-nav li:hover > ul {
    display:block;
}

.ul-nav li ul li {
    position:relative;
}

.ul-nav li ul li ul {
    right:-157px;
    top:0px;
}


/* Aquí se comienza a dar estilo a los botones utilizados para el submit de la suscripción, inicio de sesión, resgistro, 
   ir a la tienda, ir a los diferentes mapas, etc */
.custom-btn {
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
               7px 7px 20px 0px rgba(0,0,0,.1),
               4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-3 {
    background: rgb(3, 18, 41);
    background: linear-gradient(0deg, rgb(3, 18, 41) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover{
     background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover{
    color: rgba(2,126,251,1);
    background: whitesmoke;
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}

.btn-16 {
    width: 70px;
    height: 40px;
    border: none;
    color: #000;
}

.btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.btn-16:hover {
    color: #000;
}

.btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn-16:active {
    top: 2px;
}


/*Aquí comienza la media queries para los dispositivos móviles*/
@media (max-width:415px) and (min-width:320px){

    .page{
        font-size: 1rem;
    }

    header {
        grid-template-areas: "logo nav contacto carrito";
    }

    header a{
        font-size: 1rem;
    }

    .logo{
        width: 20vw;
    }

    .ul-nav li ul li ul {
        right:-140px;
    }

    .contacto p{
        font-size: 1rem;
    }

    .contacto i{
        font-size: 1rem;
    }

    .busqueda{
        display: none;
    }

    .carrito p{
        font-size: 1rem;
    }

    .carrito i{
        font-size: 1rem;
    }

    #nombreNav {
        display:none;
    }

    .btn-16{
        width: 60px;
        height: 30px;
    }

    footer{
        grid-template-areas: "direccionFooter"
                             "subscipcionFooter";
        justify-items: center;
        align-items: center;
        gap: 0;
    }

    .subscripcion{
        width: 60vw;
        height: 30vh;
    }

    .direccion-footer{
        margin-top: 20px;
    }
}