#mapid a{
    font-size: 15px;
    color: black;
}

/* Div contenedor del mapa */
#mapid {
    height: 75vh;
    width: 50vw;
    z-index: 1;
}

/* Div contenedor del horario de la sucursal */
.horario{
    margin-top: 25px;
}

/* Div contenedor de la dirección de la sucursal */
.ubicacion{
    margin-top: 25px;
}

/*Aquí comienza la media queries para los dispositivos móviles*/
@media (max-width:415px) and (min-width:320px) {
    #mapid {
        /* height: 75vh; */
        width: 100vw;
    }

    .leaflet-routing-container{
        height: 100%;
        width: 40%;
    }

}